name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # 代码推送到main分支时触发构建
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: liuxintian  
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}  


      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .  
          push: true   
          tags: |
            liuxintian/campus-trade:latest 
            liuxintian/campus-trade:v1.0    
